<h1>Welcome to the Car Simulator</h1>

<form action="car/create_car" method="get">
  <label for="make">Enter the make of your car:</label>
    <input type="text" name="make" placeholder="model"/>

  <label for="model_year">Enter the model year of your car:</label>
  <input type="number" name="model_year" placeholder="year" />
  <input type="submit" value="Simulate Car"/>
</form>
